<?xml version='1.0' encoding='utf-8'?>
<widget id="de.mare.app.jenkins" version="0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JenkinsApp</name>
    <description>
        A mobile web application that 
    </description>
    <author email="contact@martinreinhardt-online.de" href="https://github.com/hypery2k/jenkins-mobile-app">
        Martin Reinhardt
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
